  <div class="row  mt-3 ">
            <div class="card bg-success-subtle border border-black col-12 p-0">
                <div class=" card-header bg-black text-white fs-3">
                  {{title}}
                </div>
                <div class="card-body">
                  <h5 class="card-title">Created by {{user.username}} on {{format_date date_created}}</h5>
                  <p class="card-text">{{description}}</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
        </div>

		{{#if logged_in}}

		<form class="newComment d-flex flex-wrap justify-content-center" data-blogid={{id}}>
			<div class="textAreaCont p-2">
				<textarea id='commentDescription' name="comment-body"
				placeholder="Enter a comment here..."
				cols="30"
				rows="3"></textarea>
			</div>
			<div class="btnComment p-3">
				<button class="button btn btn-success" type="submit">Add Comment</button>
			</div>
		</form>

		{{/if}}

		<h2 class="text-center">Comments</h2>
		{{#each comments as |comment|}}
		<div class="card bg-success-subtle border border-black col-12 p-0 mt-2">
			<p class="text-center fs-3">{{comment.comment_description}}</p>
			<p class="text-center"><span>~</span>Created by {{comment.user.username}} on {{format_date date_created}}<span>~</span></p>
		</div>
		{{/each}}

		<script src="/js/comments.js"></script>