{{#each blogs as |blog|}}

  <div class="row  mt-3 ms-4">

    <div class="card bg-success-subtle border border-black col-11 p-0">
			<div class="card-header bg-black text-white">
      <div class="col-8">
        <h2>
          <a class="text-white text-uppercase" href="/blog/{{blog.id}}">{{blog.title}}</a>
        </h2>
      </div>

      <div class="col-8">
        <p class="text-white text-right ">Created by
          {{blog.user.username}}
          on
          {{format_date blog.date_created}}
        </p>
      </div>
			</div>
    <div class="">
      <p class="text-center fs-3">
        {{blog.description}}
      </p>
    </div>
    </div>

  </div>

{{/each}}