

         <h1 class="text-center">{{project.project_name}} Songs</h1>
        <form class="newSongForm" data-projectid={{project.id}}>
          <div class=" text-center form-row align-items-center">
            <div class="col-auto">
              <label class="sr-only" >Song Name</label>
              <input type="text" class="form-control mb-2" id="songName" placeholder="">
            </div>
            <div class="col-auto">

              <label class="sr-only" >Song Description</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" id="songDescription" placeholder="">
              </div>
            </div>
              <div class="col-auto">
              <label class="sr-only" >Song URL</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" id="rawUrl" placeholder="">
              </div>
            </div>
            <div class="form-check">
              <h2>URL type</h2>
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="gdRadio">
  <label class="form-check-label" for="flexRadioDefault1">
   Google Drive
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="dbRadio" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Dropbox
  </label>
</div>
            </div>
            <div class="col-auto my-1 text-center">
              <button type="submit" for="newProjectForm" class=" btn btn-primary mb-2">Create New Song</button>
            </div>
          </div>
        </form>

       
  {{#if songs.length}}
         {{#each songs as |song|}}
        <li class="nav-item ">
          <div class="row ">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1 text-center mt-3">
                <div class="card-header white-text fs-1 ">
                  <a href="/song/{{song.id}}">{{song.song_name}}</a>
                  </div>
                  <div class="card-body">
                  <p>{{song.song_description}}</p>
                </div>
                <div class="card-action">
                </div>
              </div>
            </div>
          </div>     
        </li>
           {{/each}}
             {{/if}}
<script src="/js/project.js"></script>